* {
	box-sizing: border-box;
}

html, body,
.content-view {
	position: relative;
	height: 100%;
}

body {
	background-color: $color-4;
	font-family: $base-font-family;
	font-size: 62.5%;
	font-weight: 400;
	color: $color-default;
	margin: 0;
	padding: 0;

	#loading-bar .bar {
	  background: darken($color-3, 15);
	  height: 5px;
	}

	#loading-bar-spinner .spinner-icon {
	  border-top-color:  darken($color-3, 15);
	  border-left-color: darken($color-3, 15);
	}
}

.header {
	@include make-md-column(4);
	margin-top: 50px;

	h1 {
		color: $color-1;
		font-size: $base-font-size + 4;
		font-weight: 700;
		text-align: center;
	}

	p {
		color: $color-1;
		font-size: $base-font-size + 2;
		line-height: 1.2em;
		margin: 20px 0 30px;
		text-align: center;
	}
}

.container {
	@include make-md-column(8);
	background-color: $color-3;
	min-height: 100%;
}